html,
body {
  margin: 0;
}
.banner {
  position: relative;
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

.banner.one {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.banner.two {
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}

.banner__icon {
  position: absolute;
  right: 1em;
  display: flex;
  align-items: center;
}

.banner__text {
  font-weight: bold;
}

#template {
  visibility: hidden;
}

#list > #template {
  visibility: initial;
}
a {
  all: unset;
  cursor: pointer;
}
.post-item {
  display: block;
  margin: 20px;
  padding: 20px;
  border-radius: 5px gray;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.box-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  align-items: center;
}
.title {
  font-weight: 700;
  text-align: left;
  color: soild black;
  margin-right: 12px;
}
.date {
  color: #6f6f6f;
  font-size: 0.8rem;
}
.article {
  color: black;
  font-size: 0.9rem;
  max-height: 5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.person {
  color: black;
  font-size: 0.8rem;
  margin-top: 12px;
}

/* 페이지네이션 코드 */
.pagination a.active {
  background-color: #4caf50;
  color: white;
}
.page {
  display: flex;
  justify-content: center;
}
.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #96a0ad;
  line-height: 1.5;
}
.first {
  margin-right: 50px;
}
.last {
  margin-left: 50px;
}
.first:hover,
.last:hover,
.left:hover,
.right:hover {
  color: #2e9cdf;
}

.pagination a.active {
  cursor: default;
  color: #ffffff;
  outline: none;
}
.modal .num {
  margin-left: 10px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.modal .num:hover {
  background-color: #2e9cdf;
  color: #ffffff;
}
.modal .num.active,
.modal .num:active {
  background-color: #2e9cdf;
  cursor: pointer;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px soild transparent;
  border-bottom: 10px soild transparent;
  border-right: 10px solid blue;
}
h1 {
  font-size: 40px;
  background: linear-gradient(to right top, lightblue, lightgreen);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.header {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}

.header .left-section {
  display: flex;
  align-items: center;
  gap: 1.2em;
}
.header .left-section .header .button-section {
  display: flex;
  gap: 8px;
}
.header .is-login {
  display: none;
}
.header a.create-post {
  color: #3451b2;
  font-size: 0.9rem;
  height: fit-content;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.6em 1em;
  background-color: #e6edfe;
}
.header a.create-post:hover {
  background-color: #d9e2fc;
}
.header a.create-post:active {
  background-color: #c6d4f9;
}
.header a.sign-in {
  color: #18794e;
  font-size: 0.9rem;
  height: fit-content;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.6em 1em;
  background-color: #ddf3e4;
}
.header a.sign-in:hover {
  background-color: #ccebd7;
}
.header a.sign-in:active {
  background-color: #b4dfc4;
}
.header a.sign-up,
.header a.sign-out {
  color: #006adc;
  font-size: 0.9rem;
  height: fit-content;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.6em 1em;
}

.story-section {
  margin: 1em;
  margin-top: 1em;
  margin-bottom: 2.4em;
}
.story-section .dash {
  width: 80px;
  height: 1px;
  margin-bottom: 2em;
  background-color: #0a0a0a;
}

.story-section .story {
  display: flex;
  gap: 8px;
  font-size: 0.9rem;
  color: #0a0a0a;
}
